<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">	   
	<div class="content">
		 <div class="list-block">
		    <ul>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>商品名称</div>
			        	<div class="item-input"><input type="text" id="goodsName" placeholder="请输入转让商品名称" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>商品分类</div>
			        	<div class="item-input"><input type="text" id="classId" placeholder="请选择商品分类" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>新旧程度</div>
			        	<div class="item-input"><input type="text" id="depreciation" placeholder="请选择商品新旧程度" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>联&nbsp;系&nbsp;&nbsp;人</div>
			        	<div class="item-input"><input type="text" id="linkMan" placeholder="请输入联系人" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>联系方式</div>
			        	<div class="item-input"><input type="text" id="linkInfo" placeholder="请输入联系方式" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>转让金额</div>
			        	<div class="item-input"><input type="number" id="price" placeholder="请输入商品转让金额" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>转让区域</div>
			        	<div class="item-input"><input type="text" id="areaCode" placeholder="请选择转让区域" /><input type="hidden" id='baseAreaCode' value="" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>有效时间</div>
			        	<div class="item-input"><input type="text" id="expiration" placeholder="请选择转让有效时间" /></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>详情说明</div>
			        	<div class="item-input"><textarea rows="2" escape="false" id="description" placeholder="描述一下商品"></textarea></div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>发布状态</div>
			        	<div class="item-input">
			        		<select id="status">
			        			<option value="1">显示</option>
			        			<option value="2">隐藏</option>
			        		</select>
			        	</div>
			       </div></div>
			    </li>
			    <li>
			    	<div class="item-content"><div class="item-inner">
			        	<div class="item-title label"><span class="red">*&nbsp;</span>照片上传</div>
			        	<div class="item-input">（最多上传5张图片）</div>
			       </div></div>
			    </li>
			</ul>
			<div class="image-list clearfix" id="image-list">
				<div class="image-btn fl"><input accept="image/*" type="file" id="file" class="file" name="file" ></div>
			</div>				
		</div>	
		<div class="btn disabled" id="btn">立即发布</div>
	</div>
    </div>
    </div>
    <script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/find/transfer/insertTransfer');</script>	
</body>
</html>