<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">
    <div class="content"> 
		<div class="b-cont clearfix">
			<div class="table" id="enterpriseName"><div class="t">企业名称：</div><div class="c"></div></div>
			<div class="table" id="name"><div class="t">职位名称：</div><div class="c"></div></div>
			<div class="table" id="payScope"><div class="t">薪资范围：</div><div class="c"></div></div>
			<div class="table" id="positionClass"><div class="t">职位类别：</div><div class="c"></div></div>
			<div class="table" id="positionDept"><div class="t">所属部门：</div><div class="c"></div></div>				
			<div class="table" id="updateTime"><div class="t">发布时间：</div><div class="c"></div></div>
		</div>

		<div class="b-cont clearfix">
			<div class="table" id="education"><div class="t">学历要求：</div><div class="c"></div></div>
			<div class="table" id="workType"><div class="t">工作性质：</div><div class="c"></div></div>
			<div class="table" id="workAge"><div class="t">工作经验：</div><div class="c"></div></div>
			<div class="table" id="positionNum"><div class="t">招聘人数：</div><div class="c"></div></div>
		</div>

		<div class="b-cont clearfix">
			<div class="table" id="hrman"><div class="t">联系人：</div><div class="c"></div></div>
			<div class="table" id="hrPhone"><div class="t">联系电话：</div><div class="c"></div></div>
			<div class="table" id="email"><div class="t">联系邮箱：</div><div class="c"></div></div>
		</div>
		
		<div class="b-cont clearfix">
			<div class="table" id="interviewAddress"><div class="t">面试地址：</div><div class="c"></div></div>
			<div class="table" id="workPlace"><div class="t">工作地址：</div><div class="c"></div></div>
		</div>
		
		<div class="b-cont clearfix"><div class="table" id="positionTempt"><div class="t">职位诱惑：</div><div class="c"></div></div></div>
		
		<div class="b-cont clearfix"><div class="table" id="describe"><div class="t">职位描述：</div><div class="c"></div></div></div>			    	
    </div>
    	<div class="deliver_box"><div class="deliver_btn" id="deliver_btn"><i class="deliver_icon"></i>立即投递</div></div>
    </div>
    </div>
    <script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/find/positionDemand/positionDemandDetail');</script>	
</body>
</html>