.noCart{text-align: center;position: absolute;left: 0;right: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
	.noCart img{display: inline-block;width: 5rem;}
	.noCart p{margin: .6rem;color: #aaa;font-size: .9rem;}
	.noCart .btn{display: inline-block;color: #E60012;font-size: .8rem;line-height: 2rem;padding: 0 1.6rem;border: .05rem solid #E60012;border-radius: .25rem;}

.check i{display: block;width: 1rem;height: 1rem;content: url(/schoolclient/images/default/select.png);}
	.check-cur i{content: url(/schoolclient/images/default/cur_select.png);}

.accountBar{position: absolute;bottom: 0;left: 0;right: 0;height: 2.2rem;line-height: 2.2rem;background: #FFFFFF;border-top: .05rem solid #E5E5E5;font-size: .7rem;}
	.accountBar .go{padding: 0 .5rem;margin-left: .5rem;background: #EB4F38;color: #FFFFFF;font-size: .8rem;}
	.accountBar .check{padding: .6rem .7rem;}
	.accountBar .total i{font-style: normal;}

.cartList{padding-bottom: 3rem;}
	.cartList .cart-box{margin-bottom: .25rem;background: #FFFFFF;}
	.cartList .box-title{line-height: 2.4rem;border-bottom: .05rem solid #F5F5F5;}
	.cartList .box-title .check{padding: .7rem;}
	.cartList .box-title .providerName{color: #6a6969;font-size: .7rem;}
	.cartList .box-title .compile{padding: 0 .25rem;color: #469CF4;}
	
.cart-list li{width: 100%;height: 5rem;position: relative;overflow: hidden;border-bottom: .05rem solid #F5F5F5;background: #EB4F38;}
	.cart-list li:last-child{border-bottom: none;}
	.cart-list li .list-item{width: 100%;display: -webkit-box;height: 5rem;position: absolute;top: 0;left: 0;padding: .5rem .25rem .5rem 0;background: #FFFFFF;}
	.cart-list li .list-item.active{transition: .15s ease-in-out;}
	.cart-list li .list-item .l-delete{width: 2.5rem;color: #FFFFFF;font-size: .8rem;background: #EB4F38;display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;position: absolute;top: 0;right: -2.5rem;bottom: 0;}
	.cart-list li .list-item .l{display: inline-block;overflow: hidden;width: 6.4rem;height: 4rem;margin-right: .5rem;}
	.cart-list li .list-item .l .check{padding: 1.5rem .7rem;}
	.cart-list li .list-item .l img{display: block;width: 3.9rem;height: 3.9rem;border: .05rem solid #F5F5F5;}	
	.cart-list li .list-item .r{-webkit-box-flex: 1;}
	.cart-list li .list-item .r a{display: inline-block;}
	.cart-list li .list-item .r .r_title{color: #4f4e4e;height: 2rem;line-height: 1rem;display: -webkit-box;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;font-size: .7rem;margin: 0;font-weight: normal;}
	.cart-list li .list-item .r .r_price{line-height: 1rem;}
	.cart-list li .list-item .r .r_price em{font-style: normal;}
	.cart-list li .list-item .r .r_price .r_price_o{font-size: .8rem;}
	.cart-list li .list-item .r .r_price .r_price_p{font-size: .7rem;color: #999999;}
	.cart-list li .list-item .r .r_main{display: -webkit-box;line-height: 1rem;}
	.cart-list li .list-item .r .r_main p{margin: 0 .25rem 0 0;font-size: .6rem;color: #999999;}
	
.cart-list li .control{position: absolute;top: 0;bottom: 0;right: 0;left: 6.4rem;z-index: 2;background: #FFFFFF;display: none;}
	.cart-list li .control .delete{width: 2.5rem;height: 100%;color: #FFFFFF;font-size: .8rem;background: #EB4F38;display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;}
	.cart-list li .control .main{margin-top: .1rem;padding-left: .25rem;}
	.cart-list li .control .main p{margin: 0;padding: 0;font-size: .6rem;color: #999999;line-height: .8rem;}
		
.numbox{margin-right: 2.5rem;height: 2rem;padding: 0 16%;vertical-align: middle;border-left: .05rem solid #F5F5F5;border-bottom: .05rem solid #F5F5F5;position: relative;}
	.numbox .btn{width: 32%;height: 100%;font-size: .9rem;line-height: 100%;color: #555;background-color: #E5E4E4;border: none;position: absolute;top: 0;}
	.numbox .btn:active{background-color: #ccc;}
	.numbox .btn:disabled{color: #F9F9F9;}
	.numbox .numbox-btn-plus{right: 0;}
	.numbox .numbox-btn-min{left: 0;}
	.numbox .numbox-input{width: 100%;height: 100%;border: none;font-size: .7rem;}
	.numbox .numbox-input:disabled{background: #FFFFFF;}