<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">
    <div class="content">
		<div class="b-top clearfix">
			<img src="../../../images/default/shareimgs.png" />
			<h3></h3>
			<p></p>
		</div> 
		
		<div class="b-cont clearfix">
			<div class="table" id="positionName"><div class="t">职位名称：</div><div class="c"></div></div>
			<div class="table" id="workType"><div class="t">职位类型：</div><div class="c"></div></div>
			<div class="table" id="positionDept"><div class="t">所属部门：</div><div class="c"></div></div>
			<div class="table" id="payScope"><div class="t">职位薪资：</div><div class="c"></div></div>
		</div>

		<div class="b-cont clearfix">
			<div class="table" id="providerName"><div class="t">公司名称：</div><div class="c"></div></div>
			<div class="table" id="address"><div class="t">公司地址：</div><div class="c"></div></div>
			<div class="table" id="linkman"><div class="t">联系人员：</div><div class="c"></div></div>			
			<div class="table" id="mobilePhone"><div class="t">公司电话：</div><div class="c"></div></div>
			<div class="table" id="telPhone"><div class="t">公司固话：</div><div class="c"></div></div>
			<div class="table" id="email"><div class="t">公司邮电：</div><div class="c"></div></div>
			<div class="table" id="fax"><div class="t">公司传真：</div><div class="c"></div></div>
		</div>
		
		
    </div>
    </div>
    </div>
    <script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/me/resume/resumedeliverydetail');</script>	
</body>
</html>