.ment-list{background: #FFFFFF;margin: .5rem 0;}
	.ment-list .top{font-size: .6rem;line-height: 2rem;margin: 0 .5rem;border-bottom: .05rem solid #E5E5E5;}
	.ment-list .top .l{color: #AAAAAA;}
	.ment-list .top .fr{color: #E60012;}
	.ment-list .cont{padding: .5rem;height: 5rem;display: -webkit-box;border-bottom: .05rem solid #F5F5F5;}
	.ment-list .cont .l{display: inline-block;width: 4rem;height: 4rem;margin-right: .5rem;}
	.ment-list .cont .l img{width: 100%;height: 4rem;}
	.ment-list .cont .r{-webkit-box-flex: 1;}
	.ment-list .cont .r h1{height: 2rem;line-height: 1rem;font-weight: normal;font-size: .7rem;color: #131313;display: -webkit-box;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;margin: 0;}
	.ment-list .cont .r .r_price{line-height: 1.1rem;}
	.ment-list .cont .r .r_price em{font-style: normal;}
	.ment-list .cont .r .r_price .r_price_o{font-size: .8rem;color: #E60012;}

.bar{background: #FFFFFF;border: none;}
	.bar .btn{line-height: 2.5rem;color: #FFFFFF;padding: 0 .6rem;background: #E60012;font-size: .8rem;margin-left: .3rem;}
	.bar .btn.nopay{background: #E2E2E2;color: #CCCCCC;}
	.bar .main{line-height: 2.5rem;font-size: .6rem;}
	.bar .main .red{font-size: .8rem;}