.dsInfo{display: -webkit-box;height: 3rem;padding: 0 .5rem;}
	.dsInfo .l{-webkit-box-flex: 1;height: 3rem;padding: .25rem 0;}
	.dsInfo .l p{margin: 0;}
	.dsInfo .l p.name{font-size: .7rem;line-height: 1.5rem;}
	.dsInfo .l p.time{font-size: .6rem;line-height: 1rem;}
	.dsInfo .r{display: inline-block;width: 3rem;height: 3rem;background: url(/schoolclient/images/activity/ckds/icon_dks.png) no-repeat;background-size: 100% 100%;}
	.dsInfo .r.r_1{background: url(/schoolclient/images/activity/ckds/icon_jxz.png) no-repeat;background-size: 100% 100%;}
	.dsInfo .r.r_2{background: url(/schoolclient/images/activity/ckds/icon_pxz.png) no-repeat;background-size: 100% 100%;}
	.dsInfo .r.r_3{background: url(/schoolclient/images/activity/ckds/icon_tpz.png) no-repeat;background-size: 100% 100%;}
	.dsInfo .r.r_4{background: url(/schoolclient/images/activity/ckds/icon_yjs.png) no-repeat;background-size: 100% 100%;}

.btn{margin: .25rem 0;}
	.btn div{line-height: 2rem;color: #FFFFFF;font-size: .8rem;text-align: center;}
	.btn div.ljtgBtn{background: #FF0000;}
	.btn div.ljtpBtn{background: #FA9A12;}
	.btn div.disabled{background: #C0C0C0;}
	
.buttons-tab .button.active{color: #E60012;border-color: #E60012;}	
.button{margin: 0 1.5rem;}
.tabs{margin-bottom: .5rem;}

.tgList{}
	.tgList li{padding: .25rem;border-bottom: .05rem solid #F5F5F5;}
	.tgList li .l{display: inline-block;width: 2.5rem;height: 2.5rem;margin-right: .5rem;}
	.tgList li .l img{display: block;width: 100%;height: 100%;border-radius: 50%;}
	.tgList li .r{-webkit-box-flex: 1;font-size: .7rem;}
	.tgList li .r .t{padding-top: .25rem;}
	.tgList li .r .t .d{color: #8d8b8b;}

.tgList_1{}
	.tgList_1 li{display: -webkit-box;height: 3rem;}
	
.tgList_2{}
	.tgList_2 li .top{display: -webkit-box;height: 2.5rem;}
	.tgList_2 li .bot{height: 3rem;margin-top: .5rem;}
	.tgList_2 li .bot img{float: left;width: 3rem;height: 3rem;margin-right: .5rem;}	