.receiveInfo{margin-top: 0;}
	.receiveInfo li{display: none;}
	.receiveInfo .item-content{width: 100%;}
	.receiveInfo .item-content .item-title{line-height: 1rem;text-overflow:initial;white-space:normal;}
	.receiveInfo .item-content .item-title p{margin: 0;font-size: .7rem;color: #000000;}
	.receiveInfo .item-content .item-title span{color: #898888;font-size: .6rem;}
	.receiveInfo .item-content .item-title span em{font-style: normal;}
	
.ps-info{background: #FFFFFF;margin: 0 0 .25rem 0;}
	.ps-info.list-block .item-content{padding-left: 0;width: 100%;}
	.ps-info.list-block .item-title{width: 100%;font-size: .7rem;color: #8a8989;}
	.ps-info.list-block .item-title .fl.t{padding: 0 .5rem;}	
	.ps-info.list-block .ps-list{margin-right: 1rem;}
	.ps-info.list-block .ps-list.active{color: #FFB135;display: block;}
	.ps-info.list-block .ps-list em{display: inline-block;width: .8rem;height: .8rem;vertical-align: sub;margin-right: .25rem;background: url(/schoolclient/images/default/icon_find_content_dischoose.png) no-repeat;background-size: 100% 100%;}
	.ps-info.list-block .ps-list.active em{background: url(/schoolclient/images/default/icon_find_content_highlight_delivery.png) no-repeat;background-size: 100% 100%;}
	
.ment-list,.receiveInfo,.leaveWords,.payManner{background: #FFFFFF;margin-bottom: .25rem;}

.ment-list .cont{padding: .5rem;height: 5rem;display: -webkit-box;border-bottom: .05rem solid #F5F5F5;}
	.ment-list .cont .l{display: inline-block;width: 4rem;height: 4rem;margin-right: .5rem;}
	.ment-list .cont .l img{width: 3.9rem;height: 3.9rem;border: .05rem solid #F5F5F5;}
	.ment-list .cont .r{-webkit-box-flex: 1;}
	.ment-list .cont .r h1{height: 2rem;line-height: 1rem;font-weight: normal;font-size: .7rem;color: #131313;display: -webkit-box;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;margin: 0;}
	.ment-list .cont .r .r_price{line-height: 1.1rem;}
	.ment-list .cont .r .r_price em{font-style: normal;}
	.ment-list .cont .r .r_price .r_price_o{font-size: .8rem;color: #E60012;}
	.ment-list .cont .r .r_price .r_price_p{font-size: .7rem;color: #a0a0a0;}
	.ment-list .cont .r .r_price .r_price_p .i{letter-spacing: -.2rem;}
	.ment-list .cont .r .num{color: #999999;font-size: .6rem;}	
	
.leaveWords{padding: 0 .5rem;display: -webkit-box;}
	.leaveWords span{color: #AAAAAA;font-size: .7rem;display: inline-block;width: 3.5rem;line-height: 2rem;}
	.leaveWords input{font-size: .6rem;border: none;line-height: 1.4rem;-webkit-box-flex: 1;display: block;padding: 0;margin: .3rem 0;}

.bar{background: #FFFFFF;border: none;}
	.bar .btn{line-height: 2.5rem;color: #FFFFFF;padding: 0 .6rem;background: #E60012;font-size: .8rem;margin-left: .3rem;}
	.bar .btn.noPay{background: #E2E2E2;color: #CCCCCC;}
	.bar .main{line-height: 2.5rem;font-size: .6rem;}
	.bar .main .red{font-size: .8rem;}
	
.telpro{display:block;width: 6rem;height: 1.6rem;text-align: center;line-height: 1.6rem;margin: 1rem auto;border-radius: .25rem;border: 1px solid #E60012;color: #E60012;}

.mask{position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 998;background: rgba(0,0,0,.5);display:none;}

.t_box{position: fixed;left: 2rem;right: 2rem;top: 50%;height: 15rem;margin-top: -7.5rem;background: rgba(255,255,255,1);z-index: 15000;border-radius: .15rem;display:none;}
	.t_box .t{line-height: 2rem;font-size: .8rem;}
	.t_box .cont{position: absolute;top: 2rem;bottom: 0;left: 0;right: 0;border-top: 0.05rem solid #F3F3F3;}
	.t_box .cont .c{position: absolute;top: 0;bottom: 0;overflow-y: scroll;}
	.t_box .cont .l{left: 0;width: 4.5rem;background: #FCFCFC;}
		.t_box .cont .l:after{display: block;content: '';position: absolute;top: 0;bottom: 0;right: 0;width: 0.05rem;background: #F3F3F3;z-index: 0;}
		.t_box .cont .l li{line-height: 2rem;text-align: center;font-size: .7rem;color: #C0C0C0;border-bottom: 0.05rem solid #F3F3F3;position: relative;}
		.t_box .cont .l li.active{background: rgba(255,255,255,1);color: #000000;}
		.t_box .cont .l li.active:after{display: block;content: '';position: absolute;top: 0;bottom: 0;right: 0;width: 0.05rem;background: #FFFFFF;z-index: 1;}
	.t_box .cont .r{left: 5rem;right: 0;right: .25rem;}
		.t_box .cont .r li{line-height: 2rem;font-size: .7rem;color: #000000;}
		.t_box .cont .r li.din{display: none;}
		.t_box .cont .r li.active{color: #E60012;}