<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">    	
    	<div class="L_nav"><div class="L_nav_L_nav_container"></div><div class="L_nav_content" id="L_nav_content"></div></div>    	   	
	<div class="content">
		<div class="base_load" id="base_load"><span class="icon icon-refresh"></span></div>
	</div>			
    </div>
    </div>
   	<script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/find/studentShop/studentShop-classlist');</script>		
</body>
</html>