.list-block{margin:  .25rem 0 .5rem 0;}
	.list-block .item-title{width:100%;}
	.list-block .item-inner{padding-right: .25rem;}
	.sayimo-wallet-span{font-size: .7rem;width: 75%;}
	.sayimo-wallet-span1{width: 23%;float: right;text-align: right;font-size: .7rem;color: #E60012;}
	.sayimo-wallet-span2{font-size: .6rem;}