<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>页面500</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>		
	<div style="margin: auto;text-align: center;width: 100%;margin-top: 30%;">
		<div style="text-align: center;width: 100%;font-size: 120px;font-weight: 800;color: #FF0000;">500</div>
	</div>
	<div style="margin: auto;text-align: center;width: 80%;border: 2px dotted #FFD2CB;margin-top: 20%;color: #FFD2CB;border-radius: 5px;padding: 20px 10px;">
		<div style="font-size: 16px;">你访问的页面不在地球上！<br /><br />回火星看看吧！o-_-!</div>
	</div>
</body>
</html>