<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">		   	
    <div class="content">   	
 		<div class="playBox">
 			<div class="play-soure">
 				<div class="play-control">						
 					<div class="btn" id="playControl"><span class="preloader preloader-white" id="playLoader"></span></div>
 				</div>
 			</div>
 			<div class="play-line">
 				<div class="time l" id="playTime">00:00</div>
 				<div class="line" id="playLineBox"><em></em><i id="playLine"><cite></cite></i></div>
 				<div class="time r" id="soureTime">00:00</div>
 			</div>
 		</div>
 		<div class="eduInfo">
 			<div class="i">
 				<div class="t clamp_2" id="eduName">课程名称</div>
 				<div class="d justifyAlign">
 					<span class="red din" id="isFree"><span class="arial">￥</span><sapn id="eduMoney">0.00</sapn></span>
 					<span class="time" id="eduTime"></span>
 				</div>
 			</div>
 			<div class="b din" id="payBtn">立即订购</div>
 		</div>
		<div class="buttons-tab">
			<a href="#tab1" class="tab-link active button">课程介绍</a>
			<a href="#tab2" class="tab-link button">讲师介绍</a>
		</div>
		<div class="tabs bgf">
			<div id="tab1" class="tab active"><div class="html-content"><div class="noInfo">暂无课程介绍</div></div></div>		
			<div id="tab2" class="tab"><div class="html-content"><div class="noInfo">暂无讲师介绍</div></div></div>	
		</div>   		
    </div>
    </div>
    </div>
    <script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/find/education/education-detail');</script>
	<script type="text/javascript">
		// 兼容ios端退出webview音频或者视频还在播放问题 此函数由ios客户端调用，前端不需调用
		function iOSpauseMedia(){
			if($("#audio").length > 0){
				document.getElementById('audio').pause();
			}else if($("#video").length > 0){
				document.getElementById('video').pause();
			}
		}
	</script>
</body>
</html>