.content.sayimo-aboutWe-content{background-color: #FFFFFF;}
img{display: block;width: 100%;}
hr{width: 85%;}
.home_title{font-size: .9rem;color: #00A7DB;text-align: center;line-height: 2rem;}
.home_clear p{font-size: .7rem;line-height: 1.2rem;text-indent: 2em;color: #666;margin: 0 7.5%;}	