<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title>尚一校企联盟-企业报名</title>
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">
    <div class="content">
		<div class="guestregister_banner"><img src="/schoolwap/images/enterprise/guestregister_banner.jpg"/></div>
		<div class="list-block">
		    <ul>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label"><span class="red">*&nbsp;</span>企业全称：</div>
			            <div class="item-input"><input type="text" id="providerName" placeholder="企业全称"></div>
			          </div>
			        </div>
		    	</li>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label"><span class="red">*&nbsp;</span>企业地址：</div>
			            <div class="item-input"><input type="text" id="address" placeholder="企业地址"></div>
			          </div>
			        </div>
		    	</li>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label"><span class="red">*&nbsp;</span>所属行业：</div>
			            <div class="item-input"><input type="text" id="industry" placeholder="所属行业"></div>
			          </div>
			        </div>
		    	</li>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label"><span class="red">*&nbsp;</span>主营产品：</div>
			            <div class="item-input"><input type="text" id="product" placeholder="主营产品"></div>
			          </div>
			        </div>
		    	</li>
		    </ul>
		</div>
		<div class="list-block">
		    <ul>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label"><span class="red">*&nbsp;</span>法人代表：</div>
			            <div class="item-input"><input type="text" id="corporate" placeholder="法人代表"></div>
			          </div>
			        </div>
		    	</li>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label"><span class="red">*&nbsp;</span>法人手机：</div>
			            <div class="item-input"><input type="text" id="lockPhone" placeholder="法人手机"></div>
			          </div>
			        </div>
		    	</li>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label">公司电话</div>
			            <div class="item-input"><input type="text" id="telPhone" placeholder="公司电话"></div>
			          </div>
			        </div>
		    	</li>
		    </ul>
		</div>
		<div class="list-block">
		    <ul>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label" style="width: 8rem;"><span class="red">*&nbsp;</span>营业执照/信用号：</div>
			            <div class="item-input"><input type="text" id="creditCode" placeholder="营业执照/信用号"></div>
			          </div>
			        </div>
		    	</li>
		    	<li>
		    		<div class="item-content">
			          <div class="item-inner">
			            <div class="item-title label" style="width: 6rem;">税务登记代码：</div>
			            <div class="item-input"><input type="text" id="taxCode" placeholder="税务登记代码"></div>
			          </div>
			        </div>
		    	</li>
		    </ul>
		</div>
		<div id="save" class="button button-fill">立即申请</a>			   	
    </div>
    </div>
    </div>
    <script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/default/enterprise/guestregister');</script>	
</body>
</html>