<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">
    <div class="content">
		<img src="/schoolwap/images/default/icon_toptu.png" class="banner" />		
   		<div class="contBox">
			<p>1.通过校企联盟认证后的学生店铺，可以将学生的家乡特产或者产品卖到东莞高校，甚至全国高校；</p>
			<p>2.只有在校学生才可以申请学生店铺；</p>
			<p>3.申请学生店铺，需要提供学生证，本人身份证和本人手机号；</p>	
			<a href="" class="kefu red">在线客服<i></i></a>
   		</div>
   		<img src="../../images/default/icon_xian.png" class="line" />
   		<a href="" class="btn">立即申请学生店铺</a>
    </div>
    </div>
    </div>
    <script src="../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/default/applystudentshop');</script>	
</body>
</html>