<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="email=no" name="format-detection" />
	<link rel="stylesheet" href="../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">
    <div class="content">
    	<div class="playaBox">
    		<video controls poster="" width="100%" id="video" webkit-playsinline playsinline><source src="https://files.sayimo.cn/cy_video/CHMKXCP906627FAEFDDF064D4BF50EC4.mp4" type="video/mp4"/></video>
    	</div>	
    	<div class="cen bgf">
    		<div class="mkrc">
	    		<img src="../../images/default/mkkj/彩虹梦客客户端下载.png" alt="彩虹梦客人才二维码"/>
	    		<p class="tc">彩虹梦客人才</p>
	    		<p class="miaoshu">【彩虹梦客人才】APP是提供兼职、实习、临时工、暑假工等招聘信息发布，学生资源、企业资源对接的服务平台。</p>
    		</div>
    		<div class="mkkj ">
	    		<img src="../../images/default/mkkj/qrcode_for_gh_19e50ae80da5_1280.png" alt="彩虹梦客空间二维码"/>
	    		<p class="tc">彩虹梦客空间</p>
	    		<p class="miaoshu">【彩虹梦客空间】是一个专门为大学生提供：学习、实践、求职、就业、校企项目对接的大学生公益创业服务平台；</p>
    		</div>
    		<div class="tr">彩虹梦客创业公益平台</div>
    	</div>
    </div>
    </div>
   	</div>
   	<script src="../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/default/mkkjxq/mkkj');</script>		
</body>
</html>