<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">
	<div class="content">		
		<div class="playBox"></div>		
		<div class="dsInfo bgf">
			<div class="l">
				<p class="name"></p>
				<p class="red time"></p>
			</div>
			<div class="r" id="zt"></div>
		</div>		
		<div class="btn boxflex">
			<div class="ljtgBtn">立即投稿</div>
			<div class="ljtpBtn">立即投票</div>
		</div>
		<div class="buttons-tab">
			<a href="#tab1" class="tab-link active button">活动详情</a>
			<a href="#tab2" class="tab-link button">投稿列表</a>
		</div>			
		<div class="tabs bgf">
			<div id="tab1" class="tab active"><div class="html-content" id="description"><div class="noInfo tc">暂无活动详情</div></div></div>		
			<div id="tab2" class="tab"><div class="html-content"><div class="noInfo tc">暂无投稿</div></div></div>		
		</div>			
   	</div>
    </div>
    </div>     
    <script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/activity/ckds/ckds-index');</script>	
</body>
</html>