<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
    <div class="page">
    	<!--音频播放控制器-->
	    <div class="playbox">
	    	<div class="plan-line">
	    		<em id="play-line"></em>
	    		<em id="load-line"></em>
	    		<div id="touchline"></div>   		
	    	</div>
	    	<div class="c">
	    		<div class="l">
	    			<div class="info">
	    				<div class="img">
	    					<div class="load"><span class="preloader preloader-white"></span></div>
	    					<img src="/schoolwap/images/find/education/logo.jpg" />
	    				</div>
		     			<div class="i">
		    				<div class="t ellipsis"></div>
		    				<div class="s ellipsis"></div>
		    			</div>   				
		    		</div>   			
	    		</div>
	    		<div class="r">
	    			<div class="time" id="time">00:00 / 00:00</div>
	    			<div class="btn prev"></div>
	    			<div class="btn paplay pasue"></div>
	    			<div class="btn next"></div>
	    		</div>
	    	</div>
	    </div>	    	
    <div class="content infinite-scroll infinite-scroll-bottom"> 	
    	<ul class="eduList"></ul>
		<!-- 下滑无限刷新加载提示符 -->
		<div class="infinite-scroll-preloader"><div class="preloader"></div></div>    	
    </div>
    </div>
    </div>
    <script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/find/education/educationList');</script>	
</body>
</html>