<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
	<div class="page">
	<div class="content sayimo-aboutWe-content">
		<div id="content">
			<img src="/schoolclient/images/default/icon_big_logo.png"/>
			<div class="home_clear">
				<hr/>
				<div class="home_title tc">缔造大学生实习实训创业就业平台</div>
				<p>
				彩虹梦客空间创客商城是广东尚一科技股份有限公司和各高校共同打造的大学生创业就业服务平台，尚一创客校企联盟平台为大学生提供校内职业规划、创业等培训支持，通过创客服务平台为在校大学生提供电子商务，网络营销等实训和实习，帮助大学生提供在校实习的接收单位、在校创业的项目支持及毕业生就业的接收单位等资源，并在全国范围内为大学生创业大赛提供一定的创业基金支持.
				</p>
			</div>			
		</div>
	</div>
	</div>
	</div>
	<script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/me/set/aboutWe');</script>	
</body>
</html>