<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="../../../sea_modules/sm/0.6.2/sm.min.css" />
</head>
<body>
	<div class="page-group">
	<div class="page">
	<div class="content">
		<div class="list-block">
			<ul>
				<li>
					<a href="javascript:;" class="item-link item-content" id="mobilePhonejump">
						<div class="item-inner">
							<div class="item-title t">修改捆绑手机</div>
							<div class="item-title sayimo-modify-fontcolor" id="mobilePhone"></div>
						</div>
					</a>
				</li>	           
			</ul>
		</div>
		<div class="list-block">
			<ul>
				<li>
					<a href="javascript:;" class="item-link item-content" id="mustRead">
						<div class="item-inner"><div class="item-title">会员必读</div></div>
					</a>
				</li>			    	
				<li>
					<a href="javascript:;" class="item-link item-content" id="aboutWe">
						<div class="item-inner"><div class="item-title">关于我们</div></div>
					</a>
				</li>			    	
			</ul>
		</div>
		<div class="list-block">
			<ul>
				<li>
					<a href="javascript:;" class="item-link item-content" id="suggest">
						<div class="item-inner"><div class="item-title">意见反馈</div></div>
					</a>
				</li>			    	
			</ul>
		</div>
		<div class="list-block din" id="checkAppUpdate">
			<ul>
				<li>
					<a href="javascript:;" class="item-link item-content">
						<div class="item-inner"><div class="item-title">检查更新</div><div class="item-title version" id="version"></div></div>
					</a>
				</li>			    	
			</ul>
		</div>		
		<div class="base_btn" id="eixt">退出登入</div>
	</div>
	</div>
	</div>
	<script src="../../../sea_modules/zepto/1.2.0/zepto.js"></script>
	<script src="../../../sea_modules/sea/3.0.1/sea.js"></script>
	<script src="../../../config.js"></script>
	<script>seajs.use(SAYIMO.BUILD + 'control/me/set/set');</script>	
</body>
</html>