body, .page, .page-group{background: #FFFFFF;}
.guestinfo_banner img{width: 100%;display: block;}
.button.button-fill{background:#ff0000;color: #FFF;line-height: 1.8rem;height: 1.8rem;margin: 1.5rem 0.5rem 1rem 0.5rem;}