@charset "utf-8";
*{margin: 0;padding: 0;outline: none; }
body{font-family: "microsoft yahei";background: #FFFFFF;}
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.fl{float: left;display: inline;}
.fr{float: right;}
.cl{clear: both;}
.clearfix{zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;height: 0;font: 0/0 sans-serif;visibility: hidden;}

.formbox{width: 430px;border-radius: 5px;box-shadow: 0 0 10px #ccc;position: fixed;left: 50%;margin-left: -215px;top: 100px;}
	.formbox .title{font-size: 26px;color: #666;line-height: 50px;border-bottom: 1px solid #ccc;margin-bottom: 10px;}
	.formbox .table{width: 100%;line-height: 30px;margin-bottom: 10px;}
	.formbox .table .left{width: 100px;margin-right: 10px;}
	.formbox .table .left span{color: #FF0000;}
	.formbox .table .left label{color: #666;font-size: 16px;}
	.formbox .table .right{color: #666666;}
	.formbox .table .right ::-webkit-input-placeholder{color: #999;}
	.formbox .table .right ::-moz-placeholder{color: #999;}
	.formbox .table .right ::-ms-input-placeholder{color: #999;}
	.formbox .table .right .text{padding: 2px 5px;line-height: 24px;border-radius: 3px;border: 1px solid #d5d5d5;color: #000000;}
	.formbox .table .right input.text{width: 160px;}
	.formbox .table .right textarea.text{width: 295px;height: 100px;resize: none;line-height: 20px;}
	.formbox .table .right .text:hover{border: 1px solid #FF5500;transition: .3s;}
	.formbox .table .right .content{position: relative;}
	.formbox .table .right .content div{position: absolute;bottom: 5px;right: 5px;font-size: 14px;color: #999;z-index: 0;}
	.formbox .table .right .placeholder{text-indent: 10px;font-size: 14px;color: #666666;}
	.formbox .table .button{margin-left: 110px;padding: 8px 25px;background: #FF5500;border: none;color: #FFFFFF;font-size: 14px;border-radius: 5px;cursor: pointer;transition: .3s;}
	.formbox .table .button:hover{background: #008000;}
